{% if latestPosts|length > 0 %}
<div class="dx-widget-footer">
	<div class="dx-widget-title">
        Свежие публикации
    </div>
    {% for latestPost in latestPosts %}
    <a href="/post/{{ latestPost.slug }}" class="dx-widget-post">
        <span class="dx-widget-post-text">
            <span class="dx-widget-post-title">{{ latestPost.title }}</span>
            <span class="dx-widget-post-date">{{ latestPost.published_at|date('d-m-Y') }}</span>
        </span>
    </a>
    {% endfor %}
</div>
{% endif %}
