<div class="dx-widget-text">
    <ul class="dx-social-links mnt-3">
        <li><a href="#"><span class="fab fa-behance-square"></span></a></li>
        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
        <li><a href="#"><span class="fab fa-dribbble"></span></a></li>
        <li><a href="#"><span class="fab fa-github"></span></a></li>
    </ul>
</div>