/* PLACE YOU CUSTOM STYLES IN THIS FILE */

.width300 {
    min-width: 300px;
}
/* START TOOLTIP STYLES */
[tooltip] {
    position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}
[tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 9001; /* absurdity 1 */
}
[tooltip]::after {
    content: attr(tooltip); /* magic! */

    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;

    /*
      Let the content set the size of the tooltips
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 24em;
    /*white-space: nowrap;*/
    overflow: auto;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 9000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]::before,
 [tooltip]::after {
     display: block;
 }

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, -.5em);
    transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, .5em);
    transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    -webkit-transform: translate(-.5em, -50%);
    transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    -webkit-transform: translate(-.5em, -50%);
    transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    -webkit-transform: translate(.5em, -50%);
    transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    -webkit-transform: translate(.5em, -50%);
    transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@-webkit-keyframes tooltips-vert {
    to {
        opacity: .9;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}
@keyframes tooltips-vert {
    to {
        opacity: .9;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

@-webkit-keyframes tooltips-horz {
    to {
        opacity: .9;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}

/* FX All The Things */
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after,
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    -webkit-animation: tooltips-vert 300ms ease-out forwards;
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]::before,
[tooltip][flow^="left"]::after,
[tooltip][flow^="right"]::before,
[tooltip][flow^="right"]::after {
    -webkit-animation: tooltips-horz 300ms ease-out forwards;
    animation: tooltips-horz 300ms ease-out forwards;
}

.avatar-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 50px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
}
.avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.avatar-wrapper:hover .profile-pic {
    opacity: 0.5;
}
.avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}
.avatar-wrapper .profile-pic:after {
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    content: "\f007";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 190px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}
.avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.avatar-wrapper .upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 234px;
    top: -17px;
    left: -17px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    color: #34495e;
}
.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
    opacity: 0.9;
}




/*.avatar-wrapper {*/
    /*position: relative;*/
    /*height: 200px;*/
    /*width: 200px;*/
    /*margin: 50px auto;*/
    /*border-radius: 50%;*/
    /*overflow: hidden;*/
    /*box-shadow: 1px 1px 15px -5px black;*/
    /*transition: all 0.3s ease;*/
    /*-webkit-transition: all 0.3s ease;*/
/*}*/
/*.avatar-wrapper:hover {*/
    /*transform: scale(1.05);*/
    /*cursor: pointer;*/
/*}*/
/*.avatar-wrapper:hover .profile-pic {*/
    /*opacity: 0.5;*/
/*}*/
/*.avatar-wrapper .profile-pic {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*transition: all 0.3s ease;*/
    /*-webkit-transition: all 0.3s ease;*/
/*}*/

/*.avatar-wrapper .profile-pic::after {*/
    /*font-family: Font Awesome\ 5 Free;*/
    /*font-weight: 900;*/
    /*content: "\f007";*/
    /*top: -0px;*/
    /*left: -0px;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*font-size: 190px;*/
    /*background: #ecf0f1;*/
    /*color: #34495e;*/
    /*text-align: center;*/
/*}*/
/*.avatar-wrapper .upload-button {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/
/*.avatar-wrapper .upload-button .fa-arrow-circle-up {*/
    /*position: absolute;*/
    /*font-size: 234px;*/
    /*top: -17px;*/
    /*left: -17px;*/
    /*text-align: center;*/
    /*opacity: 0;*/
    /*transition: all 0.3s ease;*/
    /*-webkit-transition: all 0.3s ease;*/
    /*color: #34495e;*/
/*}*/
/*.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {*/
    /*opacity: 0.9;*/
/*}*/

